<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" th:href="@{/styles/dark.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body th:class="${theme}">
<h1>Event Details</h1>
    <div>
        <strong>Title:</strong> <span th:text="${event.title}"></span>
    </div>
    <div>
        <strong>Description:</strong> <span th:text="${event.description}"></span>
    </div>
    <div>
        <strong>Date:</strong> <span th:text="${#dates.format(event.scheduledDate, 'yyyy-MM-dd')}"></span>
    </div>
    <div>
        <strong>Start time:</strong> <span th:text="${event.scheduledStartTime}"></span>
    </div>
    <div>
        <strong>End time:</strong> <span th:text="${event.scheduledEndTime}"></span>
    </div>
    <div>
        <strong>Location:</strong> <span th:text="${event.location}"></span>
    </div>
    <div>
        <strong>Host:</strong> <span th:text="${event.user.username}"></span>
    </div>




</body>
</html>
